//text variable
$font-stack: Trebuchet MS, Arial, sans-serif;

//color variables
$orange:#ffbb00;
$sky-blue:#a2d0fc;
$black:#000814;
$gold:#FFD700;
$white:#FFFFFF;
$pink:#FFC0CB;


$primary-color: $sky-blue ;
$secondary-color: $black ;
$tertiary-color: $orange;
$table-outline:$gold ;
$table-background:$white ;
$secondary-button:$pink ;




