@import "utilities";
@import "config";


%table {
  display:inline-flex;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 3px;

  &:hover {
    transform: scale(.80);

  }
}


tr {
    color:goldenrod;
}

.btn-secondary {
  @extend %btn;
  @include set-bg($light-color);
  border-radius:60%
}

label {
  @include set-bg($secondary-color);
  text-align:center;
}
