@import "utilities";
@import "config";

$highlight-color:#ff00ff;
$opacity: 0.5;
$width:600px;
$height:600px;

@mixin table {
  border-radius: 20px;
  padding: 0px 20px;
  margin: 3px;
  border-color:black;
  margin-top:100px;
  margin-left:700px;
  margin-right:50px;
  }

 
@function opacity($opacity) {
  @return opacity($opacity);

}

@function color($highlight-color) {
  @return highlight-color($highlight-color);
}

@function length($width, $height) {
  @return width($width);
  @return height($height);
}

.table {
@include table; 
@include set-bg($table-background);
width:($width);
height:($height);
text-align:center;

  }

  .td {
    border-color:black; 
  };
  
  .tr {
    color:($highlight-color);
    opacity:($opacity);
  }


label {
  @include set-bg($secondary-color);
  text-align:center;
}

